.header1 {
    background-color: rgb(59, 68, 255);
    color: white;
    display: flex;
    justify-content: center;
}

.content{
    width: 960px;
    display: flex;
    margin: auto;
}

.wrapper{
    display: flex;
}