.header1 {
    background-color: rgb(59, 68, 255);
    color: white;
    display: flex;
    justify-content: space-between;
}

.content{
    width: 960px;
    display: flex;
    margin: auto;
    
}

.wrapper{
    display: flex;
    background-color: rgb(245, 153, 2);
}
